[Desktop Entry]
Exec=xdg-open http://localhost:8384/
Name=Open Syncthing
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
