[Desktop Entry]
Exec=xdg-open https://calendar.google.com/
Name=Open Google Calendar
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
